<h2>Socket.IO Chatroom!</h2>

<div style="height:350px; overflow:auto;" id="chat-window">
	<md-content>
		<md-list layout="column">
			<md-subheader>Subheader/Room Name Placeholder</md-subheader>
			<md-list-item class="md-2-line" id="chat-item-{{$index}}" ng-repeat="message in chatCtrl.allMessages track by $index">
				<img ng-src="http://lorempixel.com/50/50/" class="md-avatar"></img>
				<div class="md-list-item-text" layout="column">
					<h3 ng-bind="message.user.user.username"></h3>
					<p ng-bind="message.message"></p>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>

<form ng-submit="chatCtrl.send()" layout="row">
	<md-input-container flex="33">
		<label>message</label>
		<input ng-model="chatCtrl.message" autocomplete="off" id="form-input"/>
	</md-input-container>
	<md-button type="submit" class="md-raised md-primary">Send</md-button>
</form>

