<h2>Socket.IO Chatroom!</h2>

	<md-content style="height:350px;" id="chat-window">
		<md-list>
			<md-subheader>Subheader/Room Name Placeholder</md-subheader>
			<md-list-item class="md-2-line" ng-repeat="message in mainCtrl.allMessages track by $index">
				<img ng-src="http://lorempixel.com/50/50/" class="md-avatar"></img>
				<div class="md-list-item-text" layout="column">
					<h3>user</h3>
					<p ng-bind="message"></p>
				</div>
			</md-list-item>
		</md-list>
	</md-content>

<form ng-submit="mainCtrl.send()" layout="row">
	<md-input-container flex="33">
		<label>message</label>
		<input ng-model="mainCtrl.message"/>		
	</md-input-container>
	<md-button type="submit" class="md-raised md-primary">Send</md-button>
</form>